

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.py30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.textCenter {
  text-align: center;
}

.pb60 {
  padding-bottom: 60px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px;
}

.gridItem {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gridItem h2 {
  color: #333;
  font-size: 16px;
  margin: 10px 0px;;
}

.gridItem p {
  color: #666;
  font-size: 16px;
}


.loaderContainer {
  text-align: center;
  padding: 20px;
}

.loader {
  width: 50px;
  height: 50px;
}

.responsiveImage {
  width: 100%;
  max-width: 190px;
  height: auto;
}


@media (max-width: 768px) {
  .gridContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 20px;
      padding: 20px;
    }
    .responsiveImage {
      max-width: 100px;
    }

}
@media (max-width: 600px) {
  .gridContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 20px;
      padding: 20px;
    }
}


@media (max-width: 600px) {


}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
